@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao seu App de controle de finanças </h1>
    <p>Visite: <a href="https://github.com/Raphaelfm">Meu GitHub</a> | <a href="https://raphaelfm.github.io/Pagina-de-Portifolio/">Meu Portifólio</a>.</p>
</div>
<div class="text-center">
    <p>
        Este app visa, trazer uma maneira simples de controlar suas finanças, com práticidade e eficiência.
    </p>
    <img src="~/Imagens/finanças.webp" height="300px" width="950px" />
</div>